
<form method="post" action="/sessions">
  <label>Email: </label>
  <p><input type="text" name="email"></p>
  <label>Password: </label>
  <p><input type="password" name="password"></p>
  <p><input type="submit" value="Sign in" class="button"></p>
</form>
