
<form action="/users" method="post">
	Email: 
	<p><input type="text" name="email" value="<%= @user ? @user.email : ""%>"/></p>
	Password: 
	<p><input type="password" name="password"/></p>
	Password confirmation:  
	<p><input type="password" name="password_confirmation" /></p>
	<p><input type="submit" value="Sign up" class="button"/></p>
</form>