
<form action="/users" method="post">
	Email: <input type="text" name="email" value="<%= @user.email%>"/>
	Password: <input type="text" name="password"/>
	Password confirmation:  <input type="text" name="password_confirmation" />
	<input type="submit" value="Sign up"/>
</form>