<% if @user && @user.password_token_timestamp + 60*60 > Time.now %> 
	<h3>Reset Password</h3>
	<form action="/" method="post"> 	
		Password:
		<input type="text" name="password"/>
		Password confirmation:  
		<input type="text" name="password_confirmation"/>
	</form>
<% end%>