<div id="new-link">
	<form action="/links" method="post">
		<label>Url:</label> 
		<p> <input type="text" name="url" placeholder="Url"></p>
		<label>Title:</label>
		<p> <input type="text" name="title" placeholder="Title"></p>
		<label>Tags: </label>
		<p> <input type="text" name="tags" placeholder="Tags (space-separated)"></p>
		<p><input type="submit" value="Add Link" class="button"></p>
	</form>
</div>