<div id="new-link">
	<form action="/links" method="post">
		Url: 
		<p> <input type="text" name="url" placeholder="Url"></p>
		Title:
		<p> <input type="text" name="title" placeholder="Title"></p>
		Tags: 
		<p> <input type="text" name="tags" placeholder="Tags (space-separated)"></p>
		<p><input type="submit" value="Add Link" class="button"></p>
	</form>
</div>