<li class="link">
	<a class="title" href="<%= link.url %>"><%= link.title %></a>
	<acticle class="description">
		Some text
	</article>
	<aside class='source'>
		added yesterday by
		<a href="#">test@test.com </a>
	</aside>
</li>